.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;

    /*background-color: #DBBB33;*/
}

.projects-container .project-card {
    margin: 10px;
    min-width: 200px;
    width: calc(100% / 5);
}