/*.input-wrapper {*/
/*    background-color: #2B2B2B;*/
/*    border-radius: 10px;*/
/*}*/

/*input {*/
/*    background-color: #2B2B2B;*/
/*    border: none;*/
/*    padding: 10px 0 10px 0;*/
/*    border-radius: 10px;*/
/*    color: white;*/
/*}*/

/*input:focus-visible {*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

/*span.input-icon-wrapper {*/
/*}*/

/*svg.input-icon {*/
/*    width: 20px;*/
/*    color: #BBBBBB;*/
/*    margin: 0 5px 0 5px;*/
/*}*/

.input-wrapper {
    --default-color: #BBBBBB;
    --focus-color: #506EE3;
    --error-color: #F13A3A;

    display: flex;
    align-items: center;
    position: relative;
    background-color: #2B2B2B;
    border-radius: 15px;
    transition: outline .15s;
    margin-bottom: 15px;
}

.input-wrapper .error-box {
    position: absolute;
    left: 0;
    top: calc(100% + 20px);
    transform: translateY(-50%);
    background-color: #F13A3A;
    color: black;
    font-weight: bold;
    width: calc(100% - 20px);
    padding: 10px;
    transition: all .25s 0ms;
    opacity: 0;
}

.input-label {
    margin-bottom: 15px;
}

.input-wrapper svg {
    margin: 10px;
    color: var(--default-color);
}

.input-wrapper input {
    background: 0 0;
    border: none;
    padding: 17px 17px 17px 0;
    width: 100%;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--default-color);
}

.input-wrapper:focus-within {
    outline: 2px solid var(--focus-color);
}

.input-wrapper:focus-within svg {
    color: var(--focus-color);
}

.input-wrapper.error:focus-within,
.input-wrapper.error {
    outline: 2px solid var(--error-color);
}

.input-wrapper.error:focus-within svg,
.input-wrapper.error svg {
    color: var(--error-color);
}

.input-wrapper svg.error-icon {
    opacity: 0;
}

.input-wrapper.error svg.error-icon {
    opacity: 1;
}

.input-wrapper.error .error-box {
    opacity: 1;
    top: -1.1rem;
}