.button {
    background-color: #222222;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
}

.button:hover {
    color: #DBBB33;
}

.button:disabled {
    background-color: #212A51;
    cursor: no-drop;
    color: #858686;
}